@using Entities.ViewModel.OnlineSinav
@model List<CoktanSecmeliSoruVM>
@{
    ViewBag.Title = "sorular";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var renk = "#aaff80";
    var tur = "Coklu";
    var sayac = 0;
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-book bg-blue"></i>
                <div class="d-inline">
                    <h5>Seans Soruları</h5>
                    <span>Seans Başarı Ölçütleri</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="../index.html"><i class="ik ik-book"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Sorular</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="col-xl-12 col-md-6">
    <div class="card table-card">
        <div class="card-header">
            <h3>Sorular</h3>
            <div class="card-header-right">
                @if (Model[0].Secenek3 == "DY") { tur = "DY"; } else { tur = "Coklu"; }
                <a id="SoruEkle" href="@Url.Action(tur,new {id=@Model[0].OnlineIcerikID })" class="btn btn-outline-success olusturbtn">
                    <i class="ik ik-plus-circle" style="font-size:15px"></i>
                    <span>Yeni Soru Olustur</span>
                </a>
            </div>
        </div>
        <div class="card-block">




            <div class="container-fluid" style="margin-top:30px;">

                <div class="row">


                    <div class="col-md-12 col-md-12">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            @for (int i = 1; i <= Model.Count; i++)
                            {
                                if (Model[i-1].soruMetin == "Sorusuz")
                                {

                                }
                                else
                                {

                                    if (Model[i-1].Secenek3 != "DY")
                                    {

                                      <div class="panel panel-default">
                                         <div class="panel-heading" role="tab" id="heading-@i">
                                          <h4 class="panel-title">

                                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-@i" aria-expanded="true" aria-controls="collapse-@i">
                                            @i . Soru
                                          </a>
                                         </h4>
                                      </div>
                                       
                                <div id="collapse-@i" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-@i">
                                    <div class="panel-body" style="background-color:#F0F0DF">

                                        <div class="form-group row">

                                            <label class="col-md-1 control-label">
                                                <span>Soru Metni:</span>

                                            </label>
                                            <div class="col-md-8">
                                                <textarea class="form-control" name="Sorular1" id="GosterSoruMetni" type="text" style="font-weight: bold;background-color:white" placeholder="@Model[i-1].soruMetin" disabled></textarea>
                                            </div>
                                            <div class="col-md-2" style="width:250px; background:#f3f3f4; border:1px; float:right;margin-right:10px;">
                                                <img />
                                            </div>

                                        </div>


                                        <div class="form-group row">
                                            <label class="col-md-12 control-label" style="margin-top:5px;">
                                                <span style="margin-right:17px;">Cevap Secenekleri:</span>
                                            </label>

                                            <div class="col-md-12" style="margin-top:2px">
                                                @if (@Model[i - 1].Cevap != 1) { renk = "white"; } else { renk = "#aaff80"; };
                                                <label class="Sıklar">
                                                    A:
                                                </label>
                                                <input class="sıklar" name="Secenek1" id="GosterSoru-@i-Secenek0" value="@Model[i-1].Secenek1" disabled style="background-color:@renk">

                                                @if (@Model[i - 1].Cevap != 2) { renk = "white"; } else { renk = "#aaff80"; };
                                                <label class="Sıklar">
                                                    B:
                                                </label>
                                                <input class="sıklar " name="Secenek2" id="GosterSoru-@i-Secenek1" value="@Model[i-1].Secenek2" disabled style="background-color:@renk">

                                                @if (@Model[i - 1].Cevap != 3) { renk = "white"; } else { renk = "#aaff80"; };
                                                <label class="Sıklar">C:</label>
                                                <input class="sıklar" name="Secenek3" id="GosterSoru-@i-Secenek2" value="@Model[i-1].Secenek3" disabled style="background-color:@renk">


                                                @if (@Model[i - 1].Cevap != 4) { renk = "white"; } else { renk = "#aaff80"; };
                                                <label class="Sıklar"> D:</label>
                                                <input class="sıklar" name="Secenek4" id="GosterSoru-@i-Secenek3" value="@Model[i-1].Secenek4" disabled style="background-color:@renk">

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                                    }



                                    else
                                    {
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="heading-@i">
                                                <h4 class="panel-title">

                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-@i" aria-expanded="true" aria-controls="collapse-@i">
                                                        @i . Soru
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse-@i" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-@i">
                                                <div class="panel-body" style="background-color:#F0F0DF">

                                                    <div class="form-group row">

                                                        <label class="col-md-1 control-label">
                                                            <span>Soru Metni:</span>

                                                        </label>
                                                        <div class="col-md-8">
                                                            <textarea class="form-control" name="Sorular1" id="SoruMetni" type="text" style=" font-weight: bold;" placeholder="@Model[i-1].soruMetin"></textarea>
                                                        </div>
                                                        <div class="col-md-2" style="width:250px; background:#f3f3f4; border:1px; float:right;margin-right:10px;">
                                                            <img />
                                                        </div>

                                                    </div>

                                                    <div class="form-group row">
                                                        <div class="col-md-12 row">
                                                            <div class="col-md-1">
                                                                <label class=" control-label">
                                                                    <span>Cevap:</span>

                                                                </label>
                                                            </div>

                                                            <label name="Cevap" id="Dy-Cevap" disabled style="margin-left:19px;">@Model[i - 1].Secenek1</label>


                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    }
                                }
                            }
                        </div>
                                        </div>

                                    </div>
                                </div>



        </div>
    </div>
</div>





@section Styles
{

    <link href="~/Content/plugins/sweetalert/css/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/plugins/AwesomeCheckBox/css/awesomecheckbox.css" rel="stylesheet" />
    <link href="~/Content/dist/css/build.css" rel="stylesheet" />
    <link href="~/Content/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/DerslerimAccordion/accordion.css" rel="stylesheet" />

    <style>

        .ortala {
            margin: auto;
            width: 50%;
        }

        .denk {
            width: 115px;
            text-align: center;
        }

        .secenekler {
            width: 50px;
            height: 22px;
        }

        .Sıklar {
            margin-top: -15px;
            margin-left: 85px;
        }

        .sıklar {
            height: 30px;
            width: 850px;
            margin-right: 15px;
            font-weight: bold;
        }

        .spanstil {
            margin-left: 1170px;
            font-size: x-small;
            font-style: italic;
        }
    </style>



}

@section Scripts {


    <script src="~/Content/plugins/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Content/plugins/jasny/jasny-bootstrap.min.js"></script>
    <script type="text/javascript">

    </script>

}



