
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Egitim Platformu </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/Content/plugins/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/plugins/icon-kit/dist/css/iconkit.min.css">
    <link rel="stylesheet" href="~/Content/plugins/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/Content/dist/css/theme.min.css">

    @RenderSection("Styles", required: false)
    <script src="~/Content/src/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="~/Content/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>


    <div class="wrapper">
        <header class="header-top" header-theme="light">
            <div class="container-fluid">
                <div class="d-flex justify-content-between">
                    <div class="top-menu d-flex align-items-center">
                        <button type="button" class="btn-icon mobile-nav-toggle d-lg-none"><span></span></button>
                        <div class="header-search">
                            <div class="input-group">
                                <span class="input-group-addon search-close"><i class="ik ik-x"></i></span>
                                <input type="text" class="form-control">
                                <span class="input-group-addon search-btn"><i class="ik ik-search"></i></span>
                            </div>
                        </div>
                        <button type="button" id="navbar-fullscreen" class="nav-link"><i class="ik ik-maximize"></i></button>
                    </div>
                    <div class="top-menu d-flex align-items-center">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="notiDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ik ik-bell"></i><span class="badge bg-danger">0</span></a>
                            <div class="dropdown-menu dropdown-menu-right notification-dropdown" aria-labelledby="notiDropdown">
                                <h4 class="header" id="Bildirimler">Bildirimler</h4>

                                <div class="footer"><a href="javascript:void(0);">Tümünü gör</a></div>
                            </div>
                        </div>
                        <button type="button" class="nav-link ml-10" id="apps_modal_btn" data-toggle="modal" data-target="#appsModal"><i class="ik ik-grid"></i></button>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="avatar" src="~/Content/img/user.jpg" alt=""></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="profile.html"><i class="ik ik-user dropdown-icon"></i> Profilim</a>
                                <a class="dropdown-item" href="#"><i class="ik ik-settings dropdown-icon"></i> Ayarlar</a>
                                <a class="dropdown-item" href="#"><span class="float-right"><span class="badge badge-primary">6</span></span><i class="ik ik-mail dropdown-icon"></i> Gelen Kutusu</a>
                                <a class="dropdown-item" href="#"><i class="ik ik-navigation dropdown-icon"></i> Mesaj</a>
                                <a class="dropdown-item" href="login.html"><i class="ik ik-power dropdown-icon"></i> Cıkıs</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>

        <div class="page-wrap">
            <div class="app-sidebar colored">
                <div class="sidebar-header">
                    <a class="header-brand" href="../index.html">
                        <div class="logo-img">
                            <img src="~/Content/src/img/brand-white.svg" class="header-brand-img" alt="lavalite">
                        </div>
                        <span class="text">CemreYagmur</span>
                    </a>
                    <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
                    <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
                </div>

                <div class="sidebar-content">
                    <div class="nav-container">
                        <nav id="main-menu-navigation" class="navigation-main">
                            <div class="nav-lavel">Eğitmen</div>

                            <div class="nav-item">
                                <a href="@Url.Action("Index","Kategoriler")"><i class="ik ik-package"></i><span>Kategoriler</span></a>

                            </div>

                            <div class="nav-item has-sub">
                                <a href="javascript:void(0)"><i class="ik ik-package"></i><span>Derslerim</span></a>
                                <div class="submenu-content">
                                    <a href="" class="menu-item">Sınıf İçi Derslerim</a>
                                    <a href="" class="menu-item">Online Derslerim</a>
                                 </div>
                            </div>

                            <div class="nav-item has-sub">
                                <a href="javascript:void(0)"><i class="ik ik-layers"></i><span> Olustur</span> </a>
                                <div class="submenu-content">
                                    <a href="" class="menu-item">Egitim Kategorisi Olustur</a>
                                    <a href="" class="menu-item">Egitim Olustur</a>
                                    <a href="" class="menu-item">Egitim Seans Olustur</a>
                                    <a href="" class="menu-item">Basarım Ölcütü Olustur</a>
                                </div>
                            </div>
                            <div class="nav-item has-sub">
                                <a href="#"><i class="ik ik-box"></i><span>Duzenle</span></a>
                                <div class="submenu-content">
                                    <a href="ui/alerts.html" class="menu-item">Egitim Kategorisi Düzenle</a>
                                    <a href="ui/alerts.html" class="menu-item">Egitim Düzenle</a>
                                    <a href="ui/alerts.html" class="menu-item">Egitim Seansı Düzenle</a>
                                    <a href="ui/badges.html" class="menu-item">Başarım Ölçütü Düzenle</a>
                                </div>
                            </div>



                            <div class="nav-item ">
                                <a href="#"><i class="ik ik-gitlab"></i><span>Online Eğitim Katılım Kontrol</span></a>
                            </div>


                            <div class="nav-lavel">Firma</div>
                            <div class="nav-item has-sub">
                                <a href="#"><i class="ik ik-edit"></i><span>Dersler</span></a>
                                <div class="submenu-content">
                                    <a href="~/Controllers/FirmaDerslerController.cs" class="menu-item">Tüm Dersler</a>
                                    <a href="form-advance.html" class="menu-item">Sahip Oldugum Dersler</a>
                                </div>
                            </div>
                            <div class="nav-item has-sub">
                                <a href="#"><i class="ik ik-edit"></i><span>Planlama</span></a>
                                <div class="submenu-content">
                                    <a href="form-components.html" class="menu-item">Ders Tarihi Planlama</a>
                                    <a href="form-advance.html" class="menu-item">Katılımcı Planlama</a>
                                </div>
                            </div>
                            <div class="nav-item has-sub">
                                <a href="#"><i class="ik ik-edit"></i><span>Rapor</span></a>
                                <div class="submenu-content">
                                    <a href="form-components.html" class="menu-item">RaporTipi1</a>
                                    <a href="form-advance.html" class="menu-item">RaporTipi2</a>
                                    <a href="form-advance.html" class="menu-item">RaporTipi3</a>
                                </div>
                            </div>

                            <div class="nav-lavel">Calısan</div>
                            <div class="nav-item">
                                <a href="table-bootstrap.html"><i class="ik ik-credit-card"></i><span>Derslerim</span></a>
                            </div>
                            <div class="nav-item">
                                <a href="table-datatable.html"><i class="ik ik-inbox"></i><span>E-Sınav</span></a>
                            </div>


                        </nav>
                    </div>
                </div>
            </div>
            <div class="main-content">
                @RenderBody()


            </div>
            <aside class="right-sidebar">
                <div class="sidebar-chat" data-plugin="chat-sidebar">
                    <div class="sidebar-chat-info">
                        <h6>Chat List</h6>
                        <form class="mr-t-10">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search for friends ...">
                                <i class="ik ik-search"></i>
                            </div>
                        </form>
                    </div>
                    <div class="chat-list">
                        <div class="list-group row">
                            <a href="javascript:void(0)" class="list-group-item" data-chat-user="Gene Newman">
                                <figure class="user--online">
                                    <img src="~/Content/img/users/1.jpg" class="rounded-circle" alt="">
                                </figure><span><span class="name">Gene Newman</span>  <span class="username"></span> </span>
                            </a>
                            <a href="javascript:void(0)" class="list-group-item" data-chat-user="Billy Black">
                                <figure class="user--online">
                                    <img src="~/Content/img/users/2.jpg" class="rounded-circle" alt="">
                                </figure><span><span class="name">Billy Black</span>  <span class="username"></span> </span>
                            </a>
                            <a href="javascript:void(0)" class="list-group-item" data-chat-user="Herbert Diaz">
                                <figure class="user--online">
                                    <img src="~/Content/img/users/3.jpg" class="rounded-circle" alt="">
                                </figure><span><span class="name">Herbert Diaz</span>  <span class="username"></span> </span>
                            </a>
                            <a href="javascript:void(0)" class="list-group-item" data-chat-user="Sylvia Harvey">
                                <figure class="user--busy">
                                    <img src="~/Content/img/users/4.jpg" class="rounded-circle" alt="">
                                </figure><span><span class="name">Sylvia Harvey</span>  <span class="username"></span> </span>
                            </a>
                            <a href="javascript:void(0)" class="list-group-item active" data-chat-user="Marsha Hoffman">
                                <figure class="user--busy">
                                    <img src="~/Content/img/users/5.jpg" class="rounded-circle" alt="">
                                </figure><span><span class="name">Marsha Hoffman</span>  <span class="username"></span> </span>
                            </a>
                            <a href="javascript:void(0)" class="list-group-item" data-chat-user="Mason Grant">
                                <figure class="user--offline">
                                    <img src="~/Content/img/users/1.jpg" class="rounded-circle" alt="">
                                </figure><span><span class="name">Mason Grant</span>  <span class="username"></span> </span>
                            </a>
                            <a href="javascript:void(0)" class="list-group-item" data-chat-user="Shelly Sullivan">
                                <figure class="user--offline">
                                    <img src="~/Content/img/users/2.jpg" class="rounded-circle" alt="">
                                </figure><span><span class="name">Shelly Sullivan</span>  <span class="username"></span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </aside>


            <footer class="footer">
                <div class="w-100 clearfix">
                    <span class="text-center text-sm-left d-md-inline-block">Copyright © 2018 ThemeKit v2.0. All Rights Reserved.</span>
                    <span class="float-none float-sm-right mt-1 mt-sm-0 text-center">Crafted with <i class="fa fa-heart text-danger"></i> by <a href="http://lavalite.org/" class="text-dark" target="_blank">Lavalite</a></span>
                </div>
            </footer>
        </div>
    </div>


    <div class="modal fade edit-layout-modal" id="editLayoutItem" tabindex="-1" role="dialog" aria-labelledby="editLayoutItemLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editLayoutItemLabel">Sed id mi non quam iaculis pulvinar.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p class="lead">Nullam elementum aliquam porta.</p>
                    <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus fermentum imperdiet ligula, et mollis quam sagittis ac. In quis interdum sem. Vivamus blandit fringilla hendrerit. Suspendisse vulputate sapien vitae mi convallis dictum. Sed blandit felis ut quam accumsan, at condimentum nibh varius. Mauris ornare ultricies ipsum.</p>
                    <div class="row">
                        <div class="col-md-6"><img src="~/Content/img/portfolio-1.jpg" class="img-fluid" alt=""></div>
                        <div class="col-md-6"><img src="~/Content/img/portfolio-8.jpg" class="img-fluid" alt=""></div>
                    </div>
                    <div class="jumbotron pt-30 pb-30 mt-30">
                        <h2 class="mt-0">Hello, world!</h2>
                        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    </div>
                    <p>Praesent eleifend ac felis dignissim mattis. Suspendisse eget congue enim, ac fermentum risus. Donec eget risus lacus. Nullam nec lectus quis tortor ultrices consectetur. Etiam dui erat, tristique vel quam a, maximus porttitor enim. Ut molestie turpis in est iaculis, ut congue massa porta.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="layout-edit-item.html" class="btn btn-primary">Edit</a>
                    <button type="button" class="btn btn-danger list-delete">Delete</button>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade apps-modal" id="appsModal" tabindex="-1" role="dialog" aria-labelledby="appsModalLabel" aria-hidden="true" data-backdrop="false">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ik ik-x-circle"></i></button>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="quick-search">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 ml-auto mr-auto">
                                <div class="input-wrap">
                                    <input type="text" id="quick-search" class="form-control" placeholder="Search..." />
                                    <i class="ik ik-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <div class="container">
                        <div class="apps-wrap">
                            <div class="app-item">
                                <a href="#"><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-mail"></i><span>Message</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-users"></i><span>Accounts</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-shopping-cart"></i><span>Sales</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-briefcase"></i><span>Purchase</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-server"></i><span>Menus</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-clipboard"></i><span>Pages</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-message-square"></i><span>Chats</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-map-pin"></i><span>Contacts</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-box"></i><span>Blocks</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-calendar"></i><span>Events</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-bell"></i><span>Notifications</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-pie-chart"></i><span>Reports</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-layers"></i><span>Tasks</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-edit"></i><span>Blogs</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-settings"></i><span>Settings</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-more-horizontal"></i><span>More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script src="~/Content/plugins/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Content/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="~/Content/plugins/screenfull/dist/screenfull.js"></script>
    <script src="~/Content/plugins/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/plugins/summernote/dist/summernote-bs4.min.js"></script>
    <script src="~/Content/dist/js/theme.min.js"></script>
    <script src="~/Content/js/layouts.js"></script>
    @RenderSection("scripts", required: false)
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->


</body>
</html>
