@using Entities.ViewModel.Firma
@model DersBilgilerimVM
@{
    ViewBag.Title = "DersBilgiler";
    Layout = "~/Views/Shared/firmaLayout.cshtml";
    var sayac = 1;

}


<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-book bg-blue"></i>
                <div class="d-inline">
                    <h5>Ders Bilgileri</h5>
                    <span>Ders Bilgileri</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="../index.html"><i class="ik ik-book"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Ders Bilgileri</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-5">
        <div class="card">
            <div class="card-header"><h5 >Egitmen</h5></div>
            <div class="card-body">

                
                <div class="text-center">
                    <img src="~/Content/img/users/5.jpg" class="rounded-circle" width="150">
                    <h4 class="card-title mt-10">@Model.egitmen.Ad  @Model.egitmen.Soyad</h4>
                    <p class="card-subtitle">@Model.egitmen.UzmanlikAlani</p>
                    <div class="row text-center justify-content-md-center">
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="ik ik-user"></i> <font class="font-medium">@Model.egitmen.Dersler.Count() Ders</font></a></div>
                    </div>
                    <div class="row text-center justify-content-md-center">
                        <div class="col-4"><a href="javascript:void(0)" class="link"> <font class="font-medium">@Model.egitmen.EgitmenAciklama</font></a></div>
                    </div>
                </div>
            </div>
            <hr class="mb-0">
            <div class="card-body">
                <small class="text-muted d-block">Email adres </small>
                <h6>cemre.akanturk@hotmail.com</h6>
                <small class="text-muted d-block pt-10">Telefon</small>
                <h6>(534) 342 5641</h6>
                <small class="text-muted d-block pt-10">Şehir</small>
                <h6>@Model.egitmen.Il.IlAdi</h6>

                <br>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-7">
        <div class="card">
            <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#last-month" role="tab" aria-controls="pills-profile" aria-selected="false">Ders Bilgileri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-setting-tab" data-toggle="pill" href="#previous-month" role="tab" aria-controls="pills-setting" aria-selected="false">Katılımcılar</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="last-month" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="card-body">
                        <div class="col-md-12 row">
                            <div class="col-md-6"> 
                            <img src="@Model.ders.DersAfis" style="width:100%;height:100%;padding:3%;"/>
                            </div>
                            <div class="col-md-6 row">
                                <div class="col-md-12 col-6">
                                    <strong>@Model.ders.DersAdi</strong>
                                    <br>
                                </div>
                                <div class="col-md-12 col-6">
                                    <strong>Eğitim Kodu</strong>
                                    <br>
                                    <p class="text-muted">@Model.ders.DersKodu</p>
                                </div>
                                <div class="col-md-12 col-6">
                                    <strong>Ders Kategorisi</strong>
                                    <br>
                                    <p class="text-muted">@Model.ders.Kategoriler.KategoriAdi</p>
                                </div>

                            </div>
                        </div>
                        <hr>
                        <strong>Kazanımlar</strong>

                        <p class="mt-30">@Model.ders.Aciklama</p>
                        <h4 class="mt-30">Eğitim İçerik</h4>
                        <hr>
                        <div class="col-lg-12 col-md-6 col-sm-12">
                            <div class="widget bg-primary">
                                <div class="widget-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="state">
                                            <h6>Seans</h6>
                                            <h2>@Model.SeansSayisi</h2>
                                        </div>
                                        <div class="icon">
                                            <i class="ik ik-film"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget bg-success">
                                <div class="widget-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="state">
                                            <h6> Egitim Medyası</h6>
                                            <h2>@Model.SeansSayisi</h2>
                                        </div>
                                        <div class="icon">
                                            <i class="ik ik-edit-1"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="previous-month" role="tabpanel" aria-labelledby="pills-setting-tab">
                    <div class="col-xl-12 col-md-6" style="padding:5%">
                        <div class="card table-card">
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table table-hover mb-0 without-header">
                                        <tbody>
                                          @foreach (var item in Model.katilimcilar)
                                                  {
                                                      var sayi = 0;
                                                      sayi= sayac % 5;
                                                     var metin = sayi + ".jpg";
                                              <tr>
                                                <td>
                                                    <div class="d-inline-block align-items-center">
                                                        <img src="~/Content/img/users/@metin" alt="user image" class="rounded-circle img-40 align-top mr-15">
                                                        <div class="d-inline-block">
                                                            <h6 class="mb-0">@item.KisiAdi</h6>
                                                            <p class="text-muted mb-0">@item.Bolum.BolumAdi , @item.TelefonNo</p>
                                                        </div>
                                                    </div>
                                                </td>
                                             
                                            </tr>
                                          }
                                            <tr>
                                                <td>
                                                    <div class="d-inline-block align-middle">
                                                        <img src="~/Content/img/users/2.jpg" alt="user image" class="rounded-circle img-40 align-top mr-15">
                                                        <div class="d-inline-block">
                                                            <h6 class="mb-0">James Alexander</h6>
                                                            <p class="text-muted mb-0">Sales executive , EL</p>
                                                        </div>
                                                    </div>
                                                </td>
                                               
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="d-inline-block align-middle">
                                                        <img src="~/Content/img/users/3.jpg" alt="user image" class="rounded-circle img-40 align-top mr-15">
                                                        <div class="d-inline-block">
                                                            <h6 class="mb-0">Shirley  Hoe</h6>
                                                            <p class="text-muted mb-0">Sales executive , NY</p>
                                                        </div>
                                                    </div>
                                                </td>
                                               
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="d-inline-block align-middle">
                                                        <img src="~/Content/img/users/4.jpg" alt="user image" class="rounded-circle img-40 align-top mr-15">
                                                        <div class="d-inline-block">
                                                            <h6 class="mb-0">James Alexander</h6>
                                                            <p class="text-muted mb-0">Sales executive , EL</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="d-inline-block align-middle">
                                                        <img src="~/Content/img/users/5.jpg" alt="user image" class="rounded-circle img-40 align-top mr-15">
                                                        <div class="d-inline-block">
                                                            <h6 class="mb-0">Shirley  Hoe</h6>
                                                            <p class="text-muted mb-0">Sales executive , NY</p>
                                                        </div>
                                                    </div>
                                                </td>
                                           
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

@section Styles{
    <link href="~/Content/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

}



@section Scripts
{
    <script src="~/Content/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    @*@<script src="~/Content/js/datatables.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('simpletable').DataTable();
        });


    </script>
    <script>
        $(document).ready(function () {
            $("#myBtn").click(function () {
                $("#myModal").modal();
            });
        });
    </script>

}
