@model List<Entities.Kisi>
@{
    ViewBag.Title = "katilimciList";
    Layout = "~/Views/Shared/firmaLayout.cshtml";
}


<div class="row">
    <div class="col-md-12 ">
        <div class="card">
            <div class="card-header" style="margin-top:-30px;">
                <div class="col-xl-12 col-md-6" style="margin-bottom:-10px;">
                    <div class="card analytic-card card-blue">
                        <div class="card-body">
                            <div class="row align-items-center mb-30">
                                <div class="col">
                                    <i class="fas fa-users text-blue f-18 analytic-icon"></i>
                                </div>
                                <div class="col text-center">
                                    <h1 class=" mb-0 fw-700 text-white" style=" font-size: 2.5em"> DERS ADI</h1>
                                </div>
                                <div class="col text-right">
                                    <h3 class="mb-5 text-white">Eğitmen Adı</h3>
                                    <h6 class="mb-0 text-white">Dersin oluşturulma tarihi</h6>
                                </div>
                            </div>
                            <p class="mb-0 text-white d-inline-block">Katılımcı Sayısı : </p>
                            <h5 class="text-white d-inline-block mb-0">51</h5>
                            <h6 class="mb-0 d-inline-block text-white float-right">Ders Kodu:12516</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <a href="~/FirmaDersler/dersCalisanEkle" class="badge badge-primary mb-1" style=" margin-left: 35px; margin-top: 8px">+ Kişi Ekle</a>

            </div>

            <div class="card-body">
                <table id="data_table" class="table">
                    <thead>
                        <tr>
                            <th class="nosort">Fotoğraf</th>
                            <th>Ad Soyad</th>
                            <th>Departman</th>
                            <th class="nosort">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img src="../img/users/1.jpg" class="table-user-thumb" alt=""></td>
                                <td>@item.KisiAdi @item.KisiSoyadi</td>
                                <td>@item.Bolum.BolumAdi</td>
                                <td>
                                    <div class="table-actions">
                                        <button type="button" class="btn btn-danger silBtn " data-Kisi-KisiId="@item.KisiId" data-Kisi-KisiAdi="@item.KisiAdi" data-Kisi-KisiSoyadi="@item.KisiSoyadi" data-toggle="modal" data-target="#exampleModalCenter"><i class="ik ik-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p id="AA"></p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        @using (Html.BeginForm("Sil", "FirmaDersler", FormMethod.Post))
                        {
                            <div>
                                <input name="KisiId" value="" id="SilinenKisiId" hidden />
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">İptal</button>
                                <button type="submit" id="Sil" class="btn btn-success">Sil</button>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

@section Scripts{
    <script src="~/Content/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/js/datatables.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
      

        $(".silBtn").on("click", function () {
          
           
            var silinenid = $(this).attr("data-Kisi-KisiId");
            var silinenAd = $(this).attr("data-Kisi-KisiAdi");
            var silinenSoyad = $(this).attr("data-Kisi-KisiSoyadi");

            

            $("#SilinenKisiId").val(silinenid);

            document.getElementById("AA").innerHTML = "Seçmiş olduğunuz " + silinenAd + silinenSoyad + " kişi dersten silinsin mi ?";

        });
    });

</script>
}