@model List<Entities.Dersler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-book bg-blue"></i>
                <div class="d-inline">
                    <h5>Derslerim</h5>
                    <span>Online Derslerim</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="../index.html"><i class="ik ik-book"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#"> Derslerim</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Online Derslerim</li>
                </ol>
            </nav>
        </div>
    </div>
</div>





<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="mb-2 clearfix">

                <div class="collapse d-md-block display-options" id="displayOptions">
                    <span class="mr-3 d-inline-block float-md-left dispaly-option-buttons">

                        <a href="#" class="mr-1 view-thumb ">
                            <i class="ik ik-list view-icon"></i>
                        </a>
                        <a href="#" class="mr-1 view-grid">
                            <i class="ik ik-grid view-icon"></i>
                        </a>
                    </span>
                    <div class="d-block d-md-inline-block">

                        <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top col-md-5">

                            <input type="text" name="ara" id="ara" class="form-control" placeholder="Search.." onkeyup="degisim(value)">

                        </div>
                    </div>
                    <div class="float-md-right">
                        <a id="DersEkle" href="@Url.Action("DersEkle","OnlineDers")" class="btn btn-outline-success olusturbtn">
                            <i class="ik ik-plus-circle" style="font-size:15px"></i>
                            <span>Online Ders Olustur</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




<div class="separator mb-20"></div>

<div class="row layout-wrap search" id="layout-wrap">
    @foreach (var item in Model)
    {
        <div class="col-12 list-item">
            <div class="card d-flex flex-row mb-3">
                <a class="d-flex card-img" href="#editLayoutItem" data-toggle="modal" data-target="#editLayoutItem">
                    <img src="@item.DersAfis" class="list-thumbnail responsive border-0">

                </a>
                <div class="d-flex flex-grow-1 min-width-zero card-content">
                    <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                        <a class="list-item-heading mb-1 truncate w-15 w-xs-100" href="#editLayoutItem" data-toggle="modal" data-target="#editLayoutItem">
                            @item.DersAdi
                        </a>
                        <p class="mb-1 text-muted text-small category w-15 w-xs-100">@item.DersKodu</p>
                        <p class="mb-1 text-muted text-small date w-15 w-xs-100">@item.Kategoriler.KategoriAdi Kategorisi</p>
                        <div class="w-15 w-xs-100" style="margin-right:60px;">
                            <a class="btn btn-danger denk" href="@Url.Action("SeansBilgileri", new { id = item.DersId })">
                                <i class="ik ik-info" style="margin-left:-10px;"></i>
                                Seans Bilgileri
                            </a>
                        </div>
                    </div>
                    <div class="list-actions">
                        <a href="#editLayoutItem" data-toggle="modal" data-target="#editLayoutItem" data-Ders-id="@item.DersId" data-Ders-Adi="@item.DersAdi"><i class="ik ik-eye"></i></a>
                        <a href="@Url.Action("Duzenle", new { id = item.DersId })"><i class="ik ik-edit-2"></i></a>
                        <a class="butonlar" href="#DersSilModal" data-toggle="modal" data-target="#DersSilModal" data-Ders-id="@item.DersId" data-Ders-Adi="@item.DersAdi">
                            <i class="ik ik-trash-2"></i>
                        </a>

                    </div>


                </div>
            </div>
        </div>
    }

</div>
<div class="ekle"></div>



<div class="modal inmodal" id="DersSilModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content  ">
            <div class="modal-header row">
                <div class="col-md-12">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <i class="ik ik-delete ik-3x" style="font-size:40px;margin-left:2%"></i>
                <h4 class="modal-title ortala" style="margin-right:37%">Sil</h4>
            </div>
            <div class="modal-body">
                <p id="AA"></p>
            </div>
            @using (Html.BeginForm("Sil", "OnlineDers", FormMethod.Post))
            {
                <div>
                    <input name="DersId" value="0" id="SilinenDersId" hidden />
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default btn-outline">
                        <i class="ik ion-ios-undo"></i>

                    </button>
                    <button type="submit" class="btn btn-danger btn-outline" id="Sil">
                        <i class="	ik ik-trash"></i>
                        <span>Sil</span>
                    </button>

                </div>
            }
        </div>
    </div>
</div>









<div class="modal fade edit-layout-modal" id="editLayoutItem" tabindex="-1" role="dialog" aria-labelledby="editLayoutItemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editLayoutItemLabel">Sed id mi non quam iaculis pulvinar.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p class="lead">Nullam elementum aliquam porta.</p>
                <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus fermentum imperdiet ligula, et mollis quam sagittis ac. In quis interdum sem. Vivamus blandit fringilla hendrerit. Suspendisse vulputate sapien vitae mi convallis dictum. Sed blandit felis ut quam accumsan, at condimentum nibh varius. Mauris ornare ultricies ipsum.</p>
                <div class="row">
                    <div class="col-md-6"><img src="~/Content/img/portfolio-1.jpg" class="img-fluid" alt=""></div>
                    <div class="col-md-6"><img src="~/Content/img/portfolio-8.jpg" class="img-fluid" alt=""></div>
                </div>
                <div class="jumbotron pt-30 pb-30 mt-30">
                    <h2 class="mt-0">Hello, world!</h2>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                </div>
                <p>Praesent eleifend ac felis dignissim mattis. Suspendisse eget congue enim, ac fermentum risus. Donec eget risus lacus. Nullam nec lectus quis tortor ultrices consectetur. Etiam dui erat, tristique vel quam a, maximus porttitor enim. Ut molestie turpis in est iaculis, ut congue massa porta.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="layout-edit-item.html" class="btn btn-primary">Edit</a>
                <button type="button" class="btn btn-danger list-delete">Delete</button>
            </div>
        </div>
    </div>
</div>



@*---------------- bundan sonrası -------------*@




<div class="panel panel-default">
    <div class="panel-heading" style="background-color:##f3f3f4;">
        <h4 class="panel-title">
            <a class="buton ${arti}" data-toggle="collapse" href="#collapse${sorusayisi}"> </a>
            <a style="margin-left:1310px" class="kapat btn btn-xs" data-veri-varmi="0" data-grup-value="collapse${sorusayisi}">
                <i class="ik ik-trash" style="color: #f44336"></i>
                <span>Sil</span>
            </a>
    </div>
    <div id="collapse${sorusayisi}" class="panel-collapse collapse ${collapse}">
        <div class="panel-body">
            <div class="form-group row">

                <div hidden>
                    <input name="OnlineSorularId" value="">
                    <input name="OnlineIcerikId" value="">
                    <input name="DogruYanlisSorularId" value="">
                </div>


                <label class="col-md-1 control-label">
                    <span>Soru Metni:</span>

                </label>
                <div class="col-md-8">
                    <textarea class="form-control" name="Soru" id="SoruMetni" type="text" style=" font-weight: bold;"></textarea>
                </div>
                <div class="3" style="width:250px; background:#f3f3f4; border:1px; float:right;margin-right:100px;">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <span class="btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                        <span class="fileinput-filename"></span>
                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                    </div>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <label class=" control-label">
                            <span>Cevap:</span>

                        </label>
                    </div>



                    <div class="col-md-1">
                        <div class="radio radio-success row">
                            <input type="radio" class="Dy" value="0" name="DogruYanlis${sorusayisi} DogruSecenek" data-Soru-Sayi="${sorusayisi}">
                            <label disabled>Dogru</label>
                        </div> </br>
                    </div>

                    <div class="col-md-1">
                        <div class="radio radio-success row">
                            <input type="radio" class="Dy" value="1" name="DogruYanlis${sorusayisi} DogruSecenek" data-Soru-Sayi="${sorusayisi}">
                            <label disabled>Yanlis</label>
                        </div> </br>

                    </div>
                </div>

            </div>


        </div>

    </div>
</div>





@section Styles{
    <link href="~/Content/plugins/DerslerimAccordion/accordion.css" rel="stylesheet" />

    <style>

        .ortala {
            margin: auto;
            width: 50%;
        }

        .denk {
            width: 115px;
            text-align: center;
        }
    </style>

}

@section Scripts
{
    <script>

        function degisim(ish) {

            $("#ara").val(ish);

            var aranan = $("#ara").val();

            var ara = {
                arananstring: aranan
                }

            if (aranan != "") {
                $(".search").hide();
                $(".ekle").show();
                  $.ajax({
                        type: "POST",
                        url: "@Url.Action("Search", "OnlineDers")",
                        data: JSON.stringify(ara),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (dersler) {
                            $(".ekle").empty();
                            if (dersler.length == 0) {
                            $(".ekle").append(`<div class="alert alert-warning" role="alert">
                                          Aradığınız Kriterlere Uygun Ders Bulunmamaktadır!
                                        </div>`);
                            } else {
                                for (var i = 0; i < dersler.length; i++) {
                                    $(".ekle").append(`   <div class="row layout-wrap" id="layout-wrap">
                <div class="col-12 list-item">
                <div class="card d-flex flex-row mb-3">
                    <a class="d-flex card-img" href="#editLayoutItem" data-toggle="modal" data-target="#editLayoutItem">
                        <img src="~/Content/img/portfolio-1.jpg" alt="Donec sit amet est at sem iaculis aliquam." class="list-thumbnail responsive border-0">
                        <span class="badge badge-pill badge-primary position-absolute badge-top-left">New</span>
                        <span class="badge badge-pill badge-secondary position-absolute badge-top-left-2">Trending</span>
                    </a>
                    <div class="d-flex flex-grow-1 min-width-zero card-content">
                        <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                            <a class="list-item-heading mb-1 truncate w-40 w-xs-100" href="#editLayoutItem" data-toggle="modal" data-target="#editLayoutItem">
                               ${dersler[i].Text}
                            </a>
                            <p class="mb-1 text-muted text-small category w-15 w-xs-100">Art</p>
                            <p class="mb-1 text-muted text-small date w-15 w-xs-100">02.04.2018</p>
                            <div class="w-15 w-xs-100">
                                <span class="badge badge-pill badge-secondary">On Hold</span>
                            </div>
                        </div>
                        <div class="list-actions">
                            <a href="#editLayoutItem" data-toggle="modal" data-target="#editLayoutItem"><i class="ik ik-eye"></i></a>
                            <a href="layout-edit-item.html"><i class="ik ik-edit-2"></i></a>
                            <a href="#" class="list-delete"><i class="ik ik-trash-2"></i></a>
                        </div>
                        <div class="custom-control custom-checkbox pl-1 align-self-center">
                            <label class="custom-control custom-checkbox mb-0">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-label"></span>
                            </label>
                        </div>

                    </div>
                </div>
            </div></div>`);
                                }
                        }
                        },
                        error: function () {
                            alert("Hata");
                        },
                    });


            }
            else {

                $(".ekle").hide();
                $(".search").show();

            }


        }

        $(document).ready(function () {

                $(".butonlar").on("click", function () {


                var silinenid = $(this).attr("data-Ders-id");
                var silinenAd = $(this).attr("data-Ders-Adi");

                    $("#SilinenDersId").val(silinenid);



                document.getElementById("AA").innerHTML = "Secmis oldugunuz " + silinenAd + " dersini silmek istediginize emin misiniz?";

            });

        });

    </script>

}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



